html {
  background-color: cornflowerblue;
}

body {
  margin: auto 0;
  vertical-align: middle;
}

#canvas {
  margin: 0 auto;
  margin-top: 60px;
  padding: 0;
  background-color: transparent;
  background-image: url("images/lawn.png");
  background-size: 480px 365px;
  display: block;
  position: relative;
  border: 1px solid green;
}

#title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0px;
}

#sub-header {
  text-align: center;
  margin-top: 0px;
}

#grid-container {
  position: absolute;
  height: auto;
  width: -webkit-fill-available;
  top: 190px;
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 0px;
}

#grid {
  background-color: transparent;
  width: 480px;
  height: 335px;
}

#grid td {
  background-color: inherit;
  color: transparent;
}

#grid td.placeable:hover {
  box-shadow: 2px 2px 5px yellow inset, -2px -2px 5px yellow inset;
}

#grid td.out-of-bounds:hover {
  box-shadow: 2px 2px 5px red inset, -2px -2px 5px red inset;
}

.title-card {
  position: absolute;
  left: 257px;
  top: 176px;
  z-index: 2;
  height: 360px;
  text-align: center;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: bisque;
  opacity: 0.8;
}

.title-card h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 48px;
  color: crimson;
}

.buttons {
  display: flex;
  justify-content: space-around;
  opacity: 1;
}

.buttons button {
  height: 64px;
  width: 120px;
  font-size: 36px;
  font-weight: 700;
  font-family: monospace;
  opacity: 1;
  background-color: darkolivegreen;
  color: white;
  border-radius: 10px;
}

#start-game:hover, #instructions:hover {
  background-color: darkgreen;
  cursor: pointer;
}

#game-over-message, #game-over-overlay {
    margin: auto;
    width: auto;
    height: auto;
    position: absolute;
    top: -29px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
    height: auto;
    width: auto;
}

#game-over-message {
    height: 360px;
    width: 480px;
    text-align: center;
    color: white;
    flex-direction: column;
    justify-content: center;
}

#game-over-message h1 {
    font-size: 3em;
    font-family: sans-serif;
    margin: 15px auto;
}

span {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: bold;
  font-family: cursive;
}

#game-over-message button {
    font-size: 1.5em;
    margin: 0 auto;
    font-family: monospace;
}

#score-container {
  position: absolute;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  top: 122px;
  z-index: 10;
}

#score {
  display: none;
  font-size: 30px;
  color: brown;
  font-family: sans-serif;
  background-color: seashell;
  border: 5px solid brown;
  border-radius: 10px;
  padding: 0 20px;
}

.links-container {
  margin: 0 auto;
  width: 580px;
}

.list-of-links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.fas, .fab {
  font-size: 48px;
  color: black;
}
